@{
    Layout = null;
}
@using Vino.Core.Extensions.Layui.Test.Models
@model DemoModel
<!DOCTYPE html>
<html>
<head>
    <title>首页 -  Powered By Vinotec</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <style>
        .layui-form-item .layui-form-label-show {
            float: left;
            display: block;
            padding: 9px 15px;
            font-weight: 400;
            text-align: left;
            color: #808080;
        }

        .layui-form-item .layui-input-block .layui-form-label-show {
            width: 85%;
        }
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有列表</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/">页面1</a></dd>
                            <dd><a href="/Home/Index2">页面2</a></dd>
                            <dd><a href="/Home/Index3">页面3</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @using (Html.BeginForm<DemoModel>("#"))
                {
            @Html.InputFor(x => x.Id)
            @Html.ShowFor(x => x.Name, x => x.Mobile)
            @Html.ShowFor(x => x.Url, x => x.Email)
            @Html.ShowFor(x => x.OrderIndex, x => x.Dec)
            @Html.ShowFor(x => x.Sex)
            @Html.ShowFor(x => x.Switch, x => x.Date)
            @Html.ShowFor(x => x.Year, x => x.Month)
            @Html.ShowFor(x => x.Remark)
                }
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </environment>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/form.verify.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'form', 'laydate'], function () {
            var element = layui.element;
            var $ = layui.jquery;
            var laydate = layui.laydate;

            $(".layui-input.laydate").each(function () {
                var self = $(this);
                var type = self.data("type") || 'date';
                var format = self.data("format") || 'yyyy-MM-dd';
                laydate.render({
                    elem: self[0],
                    type: type,
                    format: format
                });
            });
        });
    </script>
</body>
</html>